
@{
    ViewBag.Title = "Index";
}

<h2>Welcome to Big Name University. </h2>
<p>
    We create opportunities for growth, wellness, achievement and success of students, helping them to develop and articulate a rewarding experience.
</p>

<p>Use the menus above to interact with this website.</p>


