@model birthdaycard.Models.cardInfo

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/Content/Styles.css" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <title>Card Form</title>
</head>
<body>
    <div> 
        <div class="header">Birthday Card Generator</div>
        <h4 class="panel-heading text-center">Send a Birthday Card</h4>
        
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary()
            <p>To: @Html.TextBoxFor(t => t.to)</p>
            <p>From: @Html.TextBoxFor(t => t.from)</p>
            <p>Message: @Html.TextBoxFor(t => t.message)</p>
            <input type="submit" value="Render Card" class="btn btn-success"/>
        }
    </div>
    <hr />
    &copy; 2017 - My ASP.NET Application

</body>
</html>
